.about{

}p {
  font-size: 43px;
}

#home{
  /* background-image: url(image/hawai\ pizza.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body{
  color:blue;

}

